---
import Section from "../Section.astro"


import {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  SQL,
  Git,
  GitHub,
  Tailwind,
  Next,
  AstroIcon,
  Android,
  Xcode,
  Swift,
  Csharp,
  Express,
  MongoDB
} from "@/icons"

import { skills } from "@cv"

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  SQL,
  Git,
  GitHub,
  Next,
  Tailwind,
  AstroIcon,
  Android,
  Xcode,
  Swift,
  Csharp,
  Express,
  MongoDB
}
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name === "Astro" ? "AstroIcon" : name
        const Icon = SKILLS_ICONS[iconName]
        const lName = name === 'Csharp' ? 'C#' : name

        return (
          <li>
            {Icon && <Icon />} <span>{lName}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
